# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [16]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [54]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [7]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ': ',end='')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [8]:
document = ET.parse( './data/mondial_database.xml' )

## 1. 10 countries with the lowest infant mortality rates

In [56]:
# Build Country Dataframe From XML

#First Build a list of dictionaries from XML
#Note: Not all countries list infant_mortality.  So in this case, don't import the country into dataframe
rows_list = []

for child in document.iterfind('country'):
    dict1 = {}
    dict1['name'] = child.find('name').text
    node = child.find('infant_mortality')
    if node == None:
        continue
    else:
        dict1['infant_mortality'] = child.find('infant_mortality').text
    rows_list.append(dict1)
    
#Then create the dataframe and sort by infant_mortality
countries = pd.DataFrame(rows_list, columns=('name','infant_mortality'))
countries

                       name infant_mortality
0                   Albania            13.19
1                    Greece             4.78
2                 Macedonia              7.9
3                    Serbia             6.16
4                   Andorra             3.69
5                    France             3.31
6                     Spain             3.33
7                   Austria             4.16
8            Czech Republic             2.63
9                   Germany             3.46
10                  Hungary             5.09
11                    Italy             3.31
12            Liechtenstein             4.33
13                 Slovakia             5.35
14                 Slovenia             4.04
15              Switzerland             3.73
16                  Belarus             3.64
17                   Latvia             7.91
18                Lithuania                6
19                   Poland             6.19
20                  Ukraine              8.1
21                   Russia             7.08
22                  Belgium             4.18
23               Luxembourg             4.28
24              Netherlands             3.66
25   Bosnia and Herzegovina             5.84
26                  Croatia             5.87
27                 Bulgaria            15.08
28                  Romania            10.16
29                   Turkey            21.43
..                      ...              ...
198                    Chad             90.3
199       Equatorial Guinea            71.12
200                   Gabon            47.03
201              Cape Verde            24.28
202                   Sudan            52.86
203             South Sudan            68.16
204                 Comoros            65.31
205                  Guinea            55.24
206                 Liberia            69.19
207                Djibouti             50.2
208                 Eritrea            38.44
209                Ethiopia            55.77
210                 Somalia           100.14
211                   Kenya            40.71
212                  Gambia            65.74
213                 Senegal            52.72
214           Guinea-Bissau            90.92
215            Sierra Leone            73.29
216                  Uganda            60.82
217                 Lesotho            50.48
218              Madagascar            44.88
219                  Malawi            48.01
220              Mozambique            72.42
221               Mauritius            10.59
222                 Mayotte            56.29
223               Swaziland            54.82
224                 Reunion              7.5
225            Saint Helena            17.63
226   Sao Tome and Principe            49.16
227              Seychelles            10.77

[228 rows x 2 columns]

In [57]:
#List 10 countries with lowest infant mortality
countries = countries.sort_values(by='infant_mortality')
countries.head(10)

                     name infant_mortality
36                 Monaco             1.81
28                Romania            10.16
142                  Fiji             10.2
63                 Brunei            10.48
124               Grenada             10.5
221             Mauritius            10.59
116                Panama             10.7
227            Seychelles            10.77
94   United Arab Emirates            10.92
105              Barbados            10.93

## 2. 10 cities with the largest population

In [61]:
# Build City Dataframe From XML

#First Build a list of dictionaries from XML
#Iterate through each country, the iterate through each city 
rows_list = []

for child in document.iterfind('country'):
    country_name = child.find('name').text
    for child2 in child.iterfind('city'):
        dict1 = {}
        dict1['country'] = country_name
        dict1['city'] = child2.find('name').text
        #The XML can contain several population listings, we will only use the latest one
        maxpopyear = 0
        maxpop = 0
        for child3 in child2.iterfind('population'):
            popyear = int(child3.attrib['year'])
            pop = int(child3.text)
            if popyear > maxpopyear:
                maxpopyear = popyear
                maxpop = pop
        dict1['population'] = maxpop
        dict1['populationyear'] = maxpopyear
        rows_list.append(dict1)
    
#Then create the dataframe
cities = pd.DataFrame(rows_list, columns=('country','city','population','populationyear'))
cities

                   country              city  population  populationyear
0                  Albania            Tirana      418495            2011
1                  Albania           Shkodër       77075            2011
2                  Albania            Durrës      113249            2011
3                  Albania             Vlorë       79513            2011
4                  Albania           Elbasan       78703            2011
5                  Albania             Korçë       51152            2011
6                Macedonia            Skopje      514967            2011
7                Macedonia          Kumanovo      107745            2011
8                   Serbia           Beograd     1639121            2011
9                   Serbia          Novi Sad      335701            2011
10                  Serbia               Niš      257867            2011
11              Montenegro         Podgorica      150977            2011
12                  Kosovo         Prishtine      198214            2011
13                 Andorra  Andorra la Vella       22256            2011
14           Liechtenstein             Vaduz        5241            2012
15                Slovenia         Ljubljana      282994            2013
16                Slovenia           Maribor      111374            2013
17                  Latvia              Rīga      696618            2013
18               Lithuania           Vilnius      538747            2013
19               Lithuania            Kaunas      307498            2013
20               Lithuania          Klaipeda      158891            2013
21              Luxembourg        Luxembourg       99852            2012
22                 Croatia            Zagreb      686568            2011
23                 Croatia             Split      165893            2011
24                 Croatia            Rijeka      127498            2011
25                 Croatia            Osijek       83496            2011
26                 Croatia             Zadar       70674            2011
27                Bulgaria             Sofia     1270284            2011
28                Bulgaria           Plovdiv      331796            2011
29                Bulgaria             Varna      330486            2011
..                     ...               ...         ...             ...
400                  Kenya           Malindi      118265            2009
401                  Kenya          Machakos      150041            2009
402                  Kenya           Nairobi     3133518            2009
403                  Kenya            Kisumu      388311            2009
404                  Kenya            Nakuru      307990            2009
405                  Kenya           Eldoret      289380            2009
406                 Gambia            Banjul      357238            2003
407          Guinea-Bissau            Bissau           0               0
408           Sierra Leone          Freetown      772873            2004
409           Sierra Leone                Bo      149957            2004
410                 Uganda           Kampala     1516210            2014
411                 Uganda           Mbarara      195013            2014
412                 Uganda            Mukono      161996            2014
413                Lesotho            Maseru      227880            2006
414             Madagascar       Antsiranana       59040            1993
415             Madagascar      Antananarivo      710236            1993
416             Madagascar         Antsirabe      126062            1993
417             Madagascar      Fianarantsoa      109260            1993
418             Madagascar           Majunga      106780            1993
419             Madagascar          Tamatave      137782            1993
420             Madagascar           Toliara       80826            1993
421                 Malawi          Lilongwe      674448            2008
422                 Malawi          Blantyre      661256            2008
423              Mauritius        Port Louis           0               0
424                Mayotte         Mamoutzou           0               0
425              Swaziland           Mbabane       57992            1997
426                Reunion       Saint-Denis      145347            2011
427           Saint Helena         Jamestown           0               0
428  Sao Tome and Principe          São Tomé       49957            2001
429             Seychelles          Victoria       24970            2002

[430 rows x 4 columns]

In [62]:
#List the 10 cities with the largest population
cities = cities.sort_values(by='population', ascending=False)
cities.head(10)

         country             city  population  populationyear
176  South Korea            Seoul     9708483            2010
164        Egypt       Al Qahirah     8471859            2006
80      Thailand          Bangkok     7506700            1999
128    Hong Kong        Hong Kong     7055071            2009
92       Vietnam      Ho Chi Minh     5968384            2009
212    Singapore        Singapore     5076700            2010
163        Egypt  Al Iskandariyah     4123869            2006
216       Taiwan       New Taipei     3939305            2012
177  South Korea            Busan     3403135            2010
107  North Korea        Pyongyang     3255288            2008

# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [63]:
# Build Ethnic Groups Dataframe From XML

#First Build a list of dictionaries from XML
#Iterate through each country, find latest population count, then iterate through each ethnicgroup and add to list
rows_list = []
for child in document.iterfind('country'):
    country_name = child.find('name').text
    #The XML can contain several population listings, we will only use the latest one
    maxpopyear = 0
    maxpop = 0
    for child2 in child.iterfind('population'):
        popyear = int(child2.attrib['year'])
        pop = int(child2.text)
        if popyear > maxpopyear:
            maxpopyear = popyear
            maxpop = pop
        
    for child3 in child.iterfind('ethnicgroup'):
        dict1 = {}
        dict1['country'] = country_name
        dict1['totalpopulation'] = maxpop
        dict1['populationyear'] = maxpopyear
        dict1['ethnicgroup'] = child3.text
        dict1['percentage'] = float(child3.attrib['percentage'])
        rows_list.append(dict1)
    
#Then create the dataframe
ethnicgroups = pd.DataFrame(rows_list, columns=('country','ethnicgroup','percentage','totalpopulation','populationyear'))
ethnicgroups

,country,ethnicgroup,percentage,totalpopulation,populationyear
0,Albania,Albanian,95.00,2800138,2011
1,Albania,Greek,3.00,2800138,2011
2,Greece,Greek,93.00,10816286,2011
3,Macedonia,Macedonian,64.20,2059794,2011
4,Macedonia,Albanian,25.20,2059794,2011
5,Macedonia,Turkish,3.90,2059794,2011
6,Macedonia,Gypsy,2.70,2059794,2011
7,Macedonia,Serb,1.80,2059794,2011
8,Serbia,Serb,82.90,7120666,2011
9,Serbia,Montenegrin,0.90,7120666,2011
10,Serbia,Hungarian,3.90,7120666,2011
11,Serbia,Roma,1.40,7120666,2011
12,Serbia,Bosniak,1.80,7120666,2011
13,Serbia,Croat,1.10,7120666,2011
14,Montenegro,Montenegrin,43.00,620029,2011
15,Montenegro,Serb,32.00,620029,2011
16,Montenegro,Bosniak,8.00,620029,2011
17,Montenegro,Albanian,5.00,620029,2011
18,Kosovo,Albanian,92.00,1733872,2011
19,Kosovo,Serbian,5.00,1733872,2011
20,Andorra,Spanish,43.00,78115,2011
21,Andorra,Andorran,33.00,78115,2011
22,Andorra,Portuguese,11.00,78115,2011
23,Andorra,French,2.00,78115,2011
24,Andorra,African,5.00,78115,2011
25,Spain,Mediterranean Nordic,100.00,46815916,2011
26,Austria,Austrian,91.10,8499759,2013
27,Austria,Turkish,1.60,8499759,2013
28,Austria,Slovene,1.00,8499759,2013
29,Austria,Croat,2.00,8499759,2013
...,...,...,...,...,...
598,Guinea-Bissau,African,99.00,1586624,2010
599,Sierra Leone,Asian,1.00,5751976,2010
600,Sierra Leone,African,99.00,5751976,2010
601,Uganda,Rwanda,6.00,34856813,2014
602,Uganda,Arab,1.00,34856813,2014
603,Uganda,Baganda,17.00,34856813,2014
604,Uganda,Karamojong,12.00,34856813,2014
605,Uganda,Basogo,8.00,34856813,2014
606,Uganda,Iteso,8.00,34856813,2014
607,Uganda,Langi,6.00,34856813,2014
608,Uganda,Bagisu,5.00,34856813,2014
609,Uganda,Acholi,4.00,34856813,2014
610,Uganda,Lugbara,4.00,34856813,2014
611,Uganda,Bunyoro,3.00,34856813,2014
612,Uganda,Batobo,3.00,34856813,2014
613,Lesotho,Sotho,99.70,2008921,2010
614,Mozambique,European,0.06,23700715,2012
615,Mozambique,Indian,0.08,23700715,2012
616,Mozambique,Euro-African,0.20,23700715,2012
617,Mauritius,Creole,27.00,1237091,2011
618,Mauritius,Indo-Mauritian,68.00,1237091,2011
619,Mauritius,Sino-Mauritian,3.00,1237091,2011
620,Mauritius,Franco-Mauritian,2.00,1237091,2011
621,Swaziland,European,3.00,1193148,2010
622,Swaziland,African,97.00,1193148,2010
623,Saint Helena,African descent,50.00,5663,2014
624,Saint Helena,White,25.00,5663,2014
625,Saint Helena,Chinese,25.00,5663,2014
626,Sao Tome and Principe,European,100.00,187356,2012
627,Seychelles,Seychellois,100.00,90945,2010

In [64]:
#Add a column to dataset which calculates percentage of total population
ethnicgroups['ethnicgrouppopulation'] = (ethnicgroups['percentage'] / 100) * ethnicgroups['totalpopulation']
ethnicgroups.ethnicgrouppopulation = ethnicgroups.ethnicgrouppopulation.astype(int)
ethnicgroups

,country,ethnicgroup,percentage,totalpopulation,populationyear,ethnicgrouppopulation
0,Albania,Albanian,95.00,2800138,2011,2660131
1,Albania,Greek,3.00,2800138,2011,84004
2,Greece,Greek,93.00,10816286,2011,10059145
3,Macedonia,Macedonian,64.20,2059794,2011,1322387
4,Macedonia,Albanian,25.20,2059794,2011,519068
5,Macedonia,Turkish,3.90,2059794,2011,80331
6,Macedonia,Gypsy,2.70,2059794,2011,55614
7,Macedonia,Serb,1.80,2059794,2011,37076
8,Serbia,Serb,82.90,7120666,2011,5903032
9,Serbia,Montenegrin,0.90,7120666,2011,64085
10,Serbia,Hungarian,3.90,7120666,2011,277705
11,Serbia,Roma,1.40,7120666,2011,99689
12,Serbia,Bosniak,1.80,7120666,2011,128171
13,Serbia,Croat,1.10,7120666,2011,78327
14,Montenegro,Montenegrin,43.00,620029,2011,266612
15,Montenegro,Serb,32.00,620029,2011,198409
16,Montenegro,Bosniak,8.00,620029,2011,49602
17,Montenegro,Albanian,5.00,620029,2011,31001
18,Kosovo,Albanian,92.00,1733872,2011,1595162
19,Kosovo,Serbian,5.00,1733872,2011,86693
20,Andorra,Spanish,43.00,78115,2011,33589
21,Andorra,Andorran,33.00,78115,2011,25777
22,Andorra,Portuguese,11.00,78115,2011,8592
23,Andorra,French,2.00,78115,2011,1562
24,Andorra,African,5.00,78115,2011,3905
25,Spain,Mediterranean Nordic,100.00,46815916,2011,46815916
26,Austria,Austrian,91.10,8499759,2013,7743280
27,Austria,Turkish,1.60,8499759,2013,135996
28,Austria,Slovene,1.00,8499759,2013,84997
29,Austria,Croat,2.00,8499759,2013,169995
...,...,...,...,...,...,...
598,Guinea-Bissau,African,99.00,1586624,2010,1570757
599,Sierra Leone,Asian,1.00,5751976,2010,57519
600,Sierra Leone,African,99.00,5751976,2010,5694456
601,Uganda,Rwanda,6.00,34856813,2014,2091408
602,Uganda,Arab,1.00,34856813,2014,348568
603,Uganda,Baganda,17.00,34856813,2014,5925658
604,Uganda,Karamojong,12.00,34856813,2014,4182817
605,Uganda,Basogo,8.00,34856813,2014,2788545
606,Uganda,Iteso,8.00,34856813,2014,2788545
607,Uganda,Langi,6.00,34856813,2014,2091408
608,Uganda,Bagisu,5.00,34856813,2014,1742840
609,Uganda,Acholi,4.00,34856813,2014,1394272
610,Uganda,Lugbara,4.00,34856813,2014,1394272
611,Uganda,Bunyoro,3.00,34856813,2014,1045704
612,Uganda,Batobo,3.00,34856813,2014,1045704
613,Lesotho,Sotho,99.70,2008921,2010,2002894
614,Mozambique,European,0.06,23700715,2012,14220
615,Mozambique,Indian,0.08,23700715,2012,18960
616,Mozambique,Euro-African,0.20,23700715,2012,47401
617,Mauritius,Creole,27.00,1237091,2011,334014
618,Mauritius,Indo-Mauritian,68.00,1237091,2011,841221
619,Mauritius,Sino-Mauritian,3.00,1237091,2011,37112
620,Mauritius,Franco-Mauritian,2.00,1237091,2011,24741
621,Swaziland,European,3.00,1193148,2010,35794
622,Swaziland,African,97.00,1193148,2010,1157353
623,Saint Helena,African descent,50.00,5663,2014,2831
624,Saint Helena,White,25.00,5663,2014,1415
625,Saint Helena,Chinese,25.00,5663,2014,1415
626,Sao Tome and Principe,European,100.00,187356,2012,187356
627,Seychelles,Seychellois,100.00,90945,2010,90945

In [65]:
egtotals = ethnicgroups.groupby('ethnicgroup').ethnicgrouppopulation.sum()
egtotals.sort_values(ascending=False).head(10)

ethnicgroup
Han Chinese    1245058800
Indo-Aryan      871815583
European        494872201
African         318325104
Dravidian       302713744
Mestizo         157734349
Bengali         146776916
Russian         131856989
Japanese        126534212
Malay           121993548
Name: ethnicgrouppopulation, dtype: int32

## 4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [88]:
#First we build dataset of all the countries so we can search by country id
rows_list = []
for child in document.iterfind('country'):
    dict1 = {}
    dict1['countryid'] = child.attrib['car_code']
    dict1['countryname'] = child.find('name').text
    rows_list.append(dict1)
    
countryids = pd.DataFrame(rows_list, columns=('countryid','countryname'))
#countryids = countryids.set_index('id')
countryids

    countryid             countryname
0          AL                 Albania
1          GR                  Greece
2          MK               Macedonia
3         SRB                  Serbia
4         MNE              Montenegro
5         KOS                  Kosovo
6         AND                 Andorra
7           F                  France
8           E                   Spain
9           A                 Austria
10         CZ          Czech Republic
11          D                 Germany
12          H                 Hungary
13          I                   Italy
14         FL           Liechtenstein
15         SK                Slovakia
16        SLO                Slovenia
17         CH             Switzerland
18         BY                 Belarus
19         LV                  Latvia
20         LT               Lithuania
21         PL                  Poland
22         UA                 Ukraine
23          R                  Russia
24          B                 Belgium
25          L              Luxembourg
26         NL             Netherlands
27        BIH  Bosnia and Herzegovina
28         HR                 Croatia
29         BG                Bulgaria
..        ...                     ...
214       TCH                    Chad
215        GQ       Equatorial Guinea
216         G                   Gabon
217        CV              Cape Verde
218       SUD                   Sudan
219       SSD             South Sudan
220       COM                 Comoros
221        RG                  Guinea
222        LB                 Liberia
223       DJI                Djibouti
224        ER                 Eritrea
225       ETH                Ethiopia
226        SP                 Somalia
227       EAK                   Kenya
228       WAG                  Gambia
229        SN                 Senegal
230       GNB           Guinea-Bissau
231       WAL            Sierra Leone
232       EAU                  Uganda
233        LS                 Lesotho
234        RM              Madagascar
235        MW                  Malawi
236       MOC              Mozambique
237        MS               Mauritius
238      MAYO                 Mayotte
239        SD               Swaziland
240      REUN                 Reunion
241      HELX            Saint Helena
242       STP   Sao Tome and Principe
243        SY              Seychelles

[244 rows x 2 columns]

In [95]:
#Get the Longest River
rows_list = []
for child in document.iterfind('river'):
    rivername = child.find('name').text
    node = child.find('length')
    if node == None:
        continue
    else:
        length = float(node.text)
    #multiple countries possible
    for child2 in child.iterfind('located'):
        countryid = child2.attrib['country']
        #countryname = str(countryids.loc[countryid])
        dict1 = {}
        dict1['name'] = rivername
        dict1['length'] = length
        dict1['countryid'] = countryid
        rows_list.append(dict1)
        
rivers = pd.DataFrame(rows_list, columns=('name','length','countryid'))
rivers = rivers.merge(countryids)
rivers.sort_values(by='length',ascending=False).head(3)

         name  length countryid countryname
258  Amazonas  6448.0        PE        Peru
250  Amazonas  6448.0        BR      Brazil
247  Amazonas  6448.0        CO    Colombia

In [100]:
#Get the Largest Lake
rows_list = []
for child in document.iterfind('lake'):
    lakename = child.find('name').text
    node = child.find('area')
    if node == None:
        continue
    else:
        area = float(node.text)
    #multiple countries possible
    for child2 in child.iterfind('located'):
        countryid = child2.attrib['country']
        #countryname = str(countryids.loc[countryid])
        dict1 = {}
        dict1['name'] = lakename
        dict1['area'] = area
        dict1['countryid'] = countryid
        rows_list.append(dict1)
        
lakes = pd.DataFrame(rows_list, columns=('name','area','countryid'))
lakes = lakes.merge(countryids)
lakes.sort_values(by='area',ascending=False).head(4)

           name      area countryid   countryname
67  Caspian Sea  386400.0        TM  Turkmenistan
64  Caspian Sea  386400.0       KAZ    Kazakhstan
63  Caspian Sea  386400.0        IR          Iran
50  Caspian Sea  386400.0         R        Russia

In [105]:
#Get the Airport with the Highest Elevation
rows_list = []
for child in document.iterfind('airport'):
    dict1 = {}
    dict1['name'] = child.find('name').text
    dict1['countryid'] = child.attrib['country']
    node = child.find('elevation')
    if node == None:
        continue
    elif node.text == None:
        continue
    else:
        dict1['elevation'] = float(node.text)
    rows_list.append(dict1)
        
airports = pd.DataFrame(rows_list, columns=('name','elevation','countryid'))
airports = airports.merge(countryids)
airports.sort_values(by='elevation',ascending=False).head(1)

            name  elevation countryid countryname
80  El Alto Intl     4063.0       BOL     Bolivia